/* depedencies */
@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

/* reset and global variables */
@import url('https://meyerweb.com/eric/tools/css/reset/reset.css');

:root {
    font-family: 'Ropa Sans', sans-serif;
    color: #555555;
    background-color: #ffffff;
}

/* header settings begin */
.top_bar {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 44px;
    padding-right: 31px;
    padding-top: 16px;
    padding-bottom: 16px;
    box-shadow: 0 1px 10px 0 #888888;
    justify-content: space-between;
    box-sizing: border-box;
}

.graphical {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 30px;
    text-transform: uppercase;
    color: #777777;
    font-weight: 400;
}

.motto {
    font-size: 10px;
    width: 38px;
    flex-wrap: wrap;
    color: #AAAAAA;
    margin-left: 5px;
}

.menu_icon {
    flex-direction: column;
}

.menu_icon_element {
    margin: 3px;
    background-color: #AAAAAA;
    width: 18px;
    height: 2px;
}

/*carrousel*/

.carrousel {
    margin: 20px auto 20px;
    width: 90%;
}

.top_image {
    display: block;
    width: 100%;
}